@import url('http://fonts.cdnfonts.com/css/cave-story');

                

body{
    background-image: url("images/background/Grass_Sample.png");
}
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 900px;
    height: 500px;
    background-image: url("images/background/Grass_Sample.png");
    background-size: contain;
}

h1 {
    text-align:center;
    font-family: 'Cave Story', sans-serif;
    font-size: 70px;
    color: whitesmoke;
  
    background: #cd853f;
    border:1px solid #313131;
    border-radius:3px;
}

ul {
    list-style-type: none;
}

#play_game_button{
    text-align: right;
    margin-top: 100px;
    margin-right: 50px;

}
 /* all form designs */
 #pet_form_block{
    width:100%;
    height:100%;
    opacity:.95;
    top:0;
    left:0;
    display:none;
    position:fixed;
    background-color:#313131;
    overflow:auto
    }
#abc {
    width:100%;
    height:100%;
    opacity:.95;
    top:0;
    left:0;
    display:none;
    position:fixed;
    background-color:#313131;
    overflow:auto
    }
    img#close {
    position:absolute;
    right:-14px;
    top:-14px;
    cursor:pointer
    }
    div#playgameform {
    position:absolute;
    left:50%;
    top:17%;
    margin-left:-202px;
    font-family:'Raleway',sans-serif
    }
    form {
    max-width:300px;
    min-width:250px;
    padding:10px 50px;
    border:2px solid gray;
    border-radius:10px;
    font-family: 'Cave Story', sans-serif;
    background-color:#fff
    }
    p {
    margin-top:30px;
    font-family: 'Cave Story', sans-serif;
    }
    h2 {
    background-color:#676b21;
    padding:20px 35px;
    margin:-10px -50px;
    text-align:center;
    border-radius:10px 10px 0 0;
    font-family: 'Cave Story', sans-serif;
    }
    hr {
    margin:10px -50px;
    border:0;
    border-top:1px solid #ccc
    }
    input[type=text] {
    width:82%;
    padding:10px;
    margin-top:30px;
    border:1px solid #ccc;
    padding-left:40px;
    font-size:16px;
    font-family: 'Cave Story', sans-serif;
    }
    #name {
    background-repeat:no-repeat;
    background-position:5px 7px
    }
  
   

    #submit {
    text-decoration:none;
    width:100%;
    text-align:center;
    display:block;
    background-color:#FFBC00;
    color:#fff;
    border:1px solid #FFCB00;
    padding:10px 0;
    font-size:20px;
    cursor:pointer;
    border-radius:5px
    }
    span {
    color:red;
    font-weight:700
    }
    button {
    width:10%;
    height:45px;
    border-radius:3px;
    background-color:#cd853f;
    color:#fff;
    font-family: 'Cave Story', sans-serif;
    font-size:18px;
    cursor:pointer
    }

  /* Left hand console */
  
  #wrapper .sidebar{
    background: rgb(244, 246, 247, 0.8);
    position: fixed;
    overflow: scroll;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
   
}
  #wrapper .sidebar .profile{
    margin-bottom: 30px;
    text-align: center;
}

#wrapper .sidebar .profile img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

#wrapper .sidebar .profile h3{
    color: #af9711;
    margin: 10px 0 5px;
}

#wrapper .sidebar .profile p{
    color: #af9711;
    font-size: 14px;
}

/* Pet orgnization on console*/
.div_pets{
    color: black;
    grid-column: auto;
}

#pet_button{
    width: 100px;;
    height:45px;
    border-radius:3px;
    background-color:#cd853f;
    font-family: 'Cave Story', sans-serif;
    margin-left: 50px;
}
.delete_button{
    text-align: center;
    width: 100px;;
    height:45px;
    border-radius:3px;
    background-color:#cd853f;
    font-family: 'Cave Story', sans-serif;
    margin-left: 50px;
}

/* Pet consoleo bottom bar*/
.navbar {
    background-color: rgb(252, 252, 252, 0.8);
    overflow: hidden;
    margin-left: 443px;
    position: relative;
    bottom: 0px;
    width: 700px;
    display: flex;
    justify-content: center;
  
  }

  .pet_console_image{
        width: 100px;
        height: 100px;
        margin-left: 100px;
       

  } 

  /*status bar*/

#statusbar_container{
    z-index: 2;
    height: 50px;
    background-color: rgb(48, 47, 44);
    justify-content: center;
    padding-top: 30px;
    width: 300px;
    margin-left: 650px;
    margin-bottom: 500px;
    position: relative;
  
}
#Progress_Status {
    width:  95%;
    background-color: #ddd;
    position: absolute;
    left: 2.5%;
  }
    
  #myprogressBar {
    max-width: 100%;
    height: 35px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 32px;
    color: black;
  }
  h4{
    font-family: 'Cave Story', sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 650px;  
    background: rgb(48, 47, 44);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    width: 300px;
}

#keys{
    margin-bottom: 700px;
    text-align: center;
   
}